$sidePanelWidth: 380px;
// $pageWidth: 750px;
$pageWidth: calc(100vw - 2 * $sidePanelWidth);
$fullPageWidth: 940px; // break point

$mobileBreakpoint: 600px;
$tabletBreakpoint: 1000px;
$topSpacing: 6rem;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
